{%extends 'base.html'%}

{%block title%}side{%endblock%}

{%block body%}
<div class="container mt-5">
<h1>Name and description</h1>
    <form method='post'>
        <input type='text' name = 'name' id = 'name' class = 'form-control'><br>
        <textarea name = 'interest' id = 'interest' class = 'form-control'></textarea><br>
<!--        <textarea name = 'descrip' id = 'descrip' class = 'form-control'></textarea><br>-->
        <input type = 'submit' class="btn btn-success" value="Save">
    </form>
</div>
{%endblock%}